button {
  &.default {
    width: 150px;
    height: 40px;
    font-size: 18px;
    background: white;
    border: 1px solid gray;
    cursor: pointer;

    &:hover {
      background: black;
      color: white;
    }
  }


}