main {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: inline-block;
    width: 100%;

    div {
      img {
        height: 400px;
        width: auto;
        margin: 20px;
        float: left;
      }
    }
  }
}