@import "../../styles/variables";

@label-size: 10px;
@label-border-hover: 4px solid black;
@label-border-main: 1px solid black;

.carousel {
  .flex();
  position: relative;
  height: 455px;
  margin: 20px 60px;

  .carousel-navigation {
    position: absolute;
    width: 100%;
    height: 100%;

    .flex();
    justify-content: space-between;

    button {
      i {
        color: @main-black;
      }

      &:hover {
        i {
          color: @main-hover-gray;
        }
      }
    }
  }

  .carousel-radio-box {
    position: absolute;
    top: 95%;

    .flex();

    div {
      input {
        opacity: 0;

        &:checked + label {
          border: @label-border-hover;
        }
      }

      label {
        border-radius: 0;
        width: @label-size;
        height: @label-size;
        border: @label-border-main;
        cursor: pointer;
        display: inline-block;
        background: white;

        &:hover {
          border: @label-border-hover;
        }
      }
    }
  }

  .image-wrap-carousel {
    padding: 20px;
    box-shadow: @box-shadow;
    background: white;
    overflow: hidden;

    .image-box {
      width: 500px;
      height: 415px;

      .flex();
      flex-direction: column;

      img {
        width: 100%;
        height: auto;
      }

      &.from-left-side {
        position: relative;
        animation: from-left-side-anim 8s ease-in-out;
      }

      &.from-right-side {
        position: relative;
        animation: from-right-side-anim 8s ease-in;
      }

      &.opacity-change {
        animation: opacity-change-anim 8s ease-in-out;
      }
    }
  }
}

@keyframes opacity-change-anim {
  0% {filter: blur(100px)}
  20% {filter: blur(0px)}
  80% {filter: blur(0px)}
  100% {filter: blur(100px)}
}

@keyframes from-left-side-anim {
  0% {left: -500px; opacity: 0; filter: contrast(0%) blur(10px);;}
  20% {left: 0; opacity: 1; filter: contrast(100%);}
  50% {filter: blur(0px)}
  80% {left: 0; opacity: 1; filter: contrast(100%);}
  100% {left: 500px; opacity: 0;filter: contrast(0%) blur(10px);;}
}

@keyframes from-right-side-anim {
  0% {left: 500px; opacity: 0; filter: contrast(0%) blur(10px);}
  20% {left: 0; opacity: 1; filter: contrast(100%);}
  50% {filter: blur(0px)}
  80% {left: 0; opacity: 1; filter: contrast(100%);}
  100% {left: -500px; opacity: 0;filter: contrast(0%) blur(10px);}
}
