@import './styles/variables.less';
@import './fonts/less/font-awesome.less';

*:focus, *:active {
    outline: none;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#app {
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 1024px;
    background: transparent;
    border-radius: @border-radius;
}

body {
  background: @bg-color;
}

img {
  height: 100%;
  width: auto;
}

i {
  padding: 5px;
}